Answer 1A : A while loop statement of numbers between 1 and 20

In [ ]:
def function_of_numbers(parameter):
  i = 1
  while i < 20:
    print(i)
    i += 1
  return 

function_of_numbers(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

20

Answer 1B : A for loop statement for numbers between 1 and 20

In [ ]:
number = 0
for x in range(1, 20):
  number += 1
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

Answer 2A : A while loop statement to obtain even numbers

In [ ]:
even_number = 30
while even_number < 70:
  print(even_number)
  even_number += 2

30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68

Answer 2B : A for loop statement to obtain even numbers

In [ ]:
element = list(range(30, 70))
for i in element:
  if i % 2 == 0:
    print (i)

30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68

Answer 3A : A while loop statement to obtain Multiplication Table of 5

In [ ]:
a = 5
i = 1
while i <= 12:
  print(i, '*', a, '=', i*a)
  i += 1

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
11 * 5 = 55
12 * 5 = 60

Answer 4 : An input statement that return the factorial value of an integer

In [ ]:
factoria1 = 1 
def factorial_value(n):
    if n < 0:
        return 0
    elif n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 9
362880